.status-card {
    /* margin-top: 15px; */
    padding: 20px;
    display: flex;
    align-items: center;
    background: var(--main-bg);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.5s ease 0s;
    margin-bottom: 30px;
}
.status-card:hover {
    color:var(--txt-white);
}

.status-card__icon {
    width: 30%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.status-card__info {
    flex-grow: 1;    
    text-align: center;
    z-index: 1;
    text-transform: capitalize;
}

.status-card__info > h4 {
    font-size: 1.2rem;
    /* margin-bottom: 10px; */
}

.status-card__info > span {
    font-size: .8rem;
}

.status-card::before {
    content: "";
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-image: linear-gradient(
        to top right,
        var(--main-color),
        var(--second-color)
    );
    position: absolute;
    left: -50px;
    top: 0;
    transform: scale(0);
    transition: transform 0.8s ease 0s;
}

.status-card:hover::before {
    transform: scale(3);
}


/* learn css transition */

/* div {
    width: 100px;
    height: 100px;
    margin: 100px auto;
    background-color: red; */

    /* transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); 
    transition-delay: 1s;*/

    /* css shortcuts in order */ 
    /* transition: all .5s linear 1s; */
    /* transition: all .5s linear;
} */
/* 
div:hover {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transform: rotate(180deg);
    background-color: ;
} */



