body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* div {
  width: 100px;
  height: 100px;
  margin: 100px auto;
  background-color: red;

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); 
  transition-delay: 1s;

  css shortcuts in order 
  transition: all .5s linear 1s;
  transition: all .5s linear;
}

div:hover {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transform: rotate(180deg);
  background-color: blue;
} */